body {
  text-align: center;
  background-color: #283149;
  height: 100vh;
}

h1 {
  font-size: 7rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
  margin-bottom: 2%;
  margin-top: 2%;
}

footer {
  position: absolute;
  bottom: 0px;
  color: #dbedf3;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.w,
.W {
  background-image: url(images/tom1.png);
}

.a,
.A {
  background-image: url(images/tom2.png);
}

.s,
.S {
  background-image: url(images/tom3.png);
}

.d,
.D {
  background-image: url(images/tom4.png);
}

.j,
.J {
  background-image: url(images/crash.png);
}

.k,
.K {
  background-image: url(images/kick.png);
}

.l,
.L {
  background-image: url(images/snare.png);
}

.set {
  margin: 5% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

@media (max-width: 762px) {
  .drum {
    font-size: 3rem;
    border-radius: 15px;
    width: 135px;
    height: 114px;
    margin: 10px auto;
  }
  .drum-align:nth-child(odd) {
    text-align: right;
  }
  .drum-align:nth-child(even) {
    text-align: left;
  }
  .drum-align:last-child {
    text-align: center;
  }
  h1 {
    font-size: 3rem;
  }
  .set {
    margin: 19% auto;
  }
  footer {
    font-size: 1rem;
  }
  .row {
    text-align: center;
    justify-content: center;
  }
}
